<div id="about_page_container">
  <p>This is the about page:</p>
  <p>This is where we'll put info about the gameplay and about the project, etc..</p>


  <!-- Button trigger modal -->
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Sign In to Start Game</a>

    <%= render 'signinmodal' %>

</div>

