<div id="about_page_container">
  <h1>Who Wants to be a Memelionaire?</h1>
  <h4>About:</h4>
    <p>The weekend homework of Ykat, Amy, Claire & Tom for General Assembly's Web Development Immersive class.</p>


  <!-- Button trigger modal -->
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Sign In to Start Game</a>

    <%= render 'signinmodal' %>

</div>

