<div id="total_container">
  <div id="about_page_container">
    <h1>Who Wants to be a Memelionaire?</h1>
      <p>Have you ever wanted to test your memeability against other memesters? Enter, Memelionare!!!!!</p>
      <p>Test your meme-fluency against two others.  A short round of ten questions will be presented to all three meme-estants.  Each player will have a key that will act as their buzzer.  The first player that buzzes in has an opportunity to answer the question. The player who answers the most correct questions is the meme-tastic winner!!!!  </p>
      <p>Player One's key buzzer is the letter "A."</p>
      <p>Player Two's key buzzer is the letter "G."</p>
      <p>Player Three's key buzzers it the letter "L."</p>
    <!-- Button trigger modal -->
      <a id="signin_button" data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Sign In to Start Game</a>
      <%= render 'game/signinmodal' %>
  </div>
  <div id="game">
      <div id="users_nav">
        <div class="users_name">
          <h3 id="player1_name_show">

          </h3>
          <p id="press_a">
            Press "A" to Buzz-In.
          </p>
        </div>
        <div class="users_name ">
          <h3 id="player2_name_show">

          </h3>
          <p id="press_b">
            Press "G" to Buzz-In.
          </p>
        </div>
        <div class="users_name">
          <h3 id="player3_name_show">

          </h3>
          <p id="press_l">
            Press "L" to Buzz-In.
          </p>
        </div>
      </div>
      <div id="timer"></div>


      <div id="gameplay">
        <!-- <div id="gametitle"></div> -->
        <div class="container"><img id ="question_img"></div>

        <div id="choice1" class="choice" data-id="0"></div>
        <div id="choice2" class="choice" data-id="1"></div>
        <div id="choice3" class="choice" data-id="2"></div>
        <div id="choice4" class="choice" data-id="3"></div>
      </div>
      <div id="mode"></div>
  </div>
</div>


<audio id="audio-theme">
      <source src="/tiger.mp3" type="audio/mpeg">
    </audio>
    <audio id="audio-buzzer">
      <source src="/buzzer.mp3" type="audio/mpeg">
    </audio>

    <div id="mask"></div>
    
    <div id="not_impressed"><span id="text">McKayla is not impressed.</span></a><img src="/assets/not_impressed.png" /></div>
    <div id="not_bad"><span id="text">Not bad.</span><img src="/assets/not-bad.jpg" /></div>
    <div id="not_you"><span id="text">It's not your turn.</span><img src="/assets/not_you.jpg" /></div>
    <div id="you_won"><span id="text">Congrats, <span id="won-player"></span> won!!! </span><img src="/assets/you_won.gif" /></div>

    <iframe id="ytplayer" type="text/html" width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>


