body {
  background-image: url('blue_background.png');
  background-repeat: no-repeat center center fixed;
  background-size: cover;
}

#total_container {
  background-color: white;
  width: 70%;
  height: auto;
  // border: 1px solid #7f8c8d;
  margin: 10px auto;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px rgba(50, 50, 50, 0.65);
}

#about_page_container {
  display: visible; // change to see
  padding: 30px;
  h1, p {
    text-align: center;
  }
  p {
    font-size: 18px;
  }
  p:nth-child(2) {
    font-size: 25px;
    margin-top: 15px;
  }
  #signin_button {
    margin-top: 30px;
    margin-left: 300px;
  }
}
.modal-title {
  text-align: center
}

#game {
  display: none; // change to see
  #users_nav {
    height: 50px;
    padding-top: 8px;
    .users_name {
      float: left;
      width: 33.33%;
      height: 50px;
      h3, p {
        text-align: center;
      }
      h3 {
        font-size: 15px;
        margin-top: 5px;
        float: left;
        margin-left: 40px;
      }
      p {
        font-size: 12px;
        margin-top: 6px;
      }
    } // .users_name

    // adding the class 'turn' to "users_name' will change the font to communicate who buzzed in first"
    .turn {
      h3, p {
        font-weight: bold;
      }
      #player1_name_show,
      #press_a {
        color: #e74c3c;
        text-shadow: 0 0 10px #e74c3c;
      }
      #player2_name_show,
      #press_b {
        color: #9b59b6;
        text-shadow: 0 0 10px #9b59b6;
      }
      #player3_name_show,
      #press_l {
        color: #3498db;
        text-shadow: 0 0 10px #3498db;
      }
    } // .turn
  } // #users_nave
  #timer {
    width: 40%;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 18px;
  }

  #gameplay {
    #question_img {
      width: 300px;
      height: auto;
      margin: auto;
      border-radius: 10px;
      border: 4px;
      box-shadow: 0px 0px 24px rgba(50, 50, 50, 0.65);
    }
    .container {
      margin: -5px auto;
      width: 300px;
    }
    .question,
    .choice {
      width: 50%;

      margin: 20px auto;
      font-size: 24px;
      text-align: center;
    }
    .question {
    }
    #gametitle {
      font-size: 24px;
      border: 0px;
      margin: 0 auto;
    }

  } // #gameplay
} // #game

#mode {
  text-align: center;
  color: #3d7195;
  font-size: 20px;
  font-weight: bold;
}




