
.choice:hover {
  box-shadow: 2px 2px 2px gray;
  background-color: #3d7195;
  color: white;
}


#mask {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
